article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;resize:none}
table{border-collapse:collapse;border-spacing:0}
.msgBox{display:none;position:fixed;_position:absolute;text-align:left;z-index:10001;_left:443px;_top:53px;_width:580px}
.msgContent{font-size:14px;line-height:24px}
.msgContentDiv{margin:10px 30px;_width:520px}
.msgInfo{display:none;margin:0 30px 50px 30px}
.msgTitle{color:#4d4d4d;font-weight:bold;line-height:40px;padding-left:12px}
.btnRight{display:none;float:left;margin-left:10px;text-decoration:none;color:#333;width:65px;height:28px;line-height:28px;text-align:center;background-image:url(sprite/common.png?max_age=19830212&d=20140314154327);background-position:0 -36px;background-repeat:no-repeat}
.btnRight:hover{background-image:url(common.png?max_age=19830212&d=20140314154327);background-position:0 -65px;background-repeat:no-repeat}
.btnRight:active{background-image:url(common.png?max_age=19830212&d=20140314154327);background-position:0 -65px;background-repeat:no-repeat}
.btnLeft{display:none;float:left;text-decoration:none;color:#4c2d01;text-align:center;width:65px;height:28px;margin-bottom:18px;margin-left:180px;line-height:28px;background-image:url(sprite/common.png?max_age=19830212&d=20140314154327);background-position:-66px -36px;color:#fff;background-repeat:no-repeat}
.btnLeft:hover{background-image:url(sprite/common.png?max_age=19830212&d=20140314154327);background-position:-66px -65px;background-repeat:no-repeat}
.btnLeft:active{background-image:url(sprite/common.png?max_age=19830212&d=20140314154327);background-position:-66px -65px;background-repeat:no-repeat}
#ie6_padding{display:none;_display:block;_height:48px}
.runApi{display:none;margin-left:10px;margin-right:10px}
.apiName{display:inline;font-size:14px}
.mask{background-color:#333;height:100%!important;height:0;left:0!important;opacity:.5;position:fixed!important;position:absolute;top:0!important;width:100%!important;width:0;z-index:10000;filter:alpha(opacity=90);zoom:1;display:none}
.msgBoxTop{font-size:1px;height:2px}
.msgBoxBottom{font-size:1px;height:2px}
.msgBoxMid{width:100%}
.msgBoxContainer{background-color:#FFF;display:inline-block;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px}
.msgBoxHeader{-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;background-color:#f8f8f8;color:#fff;height:40px;margin:0;padding:0;position:relative;border-bottom:#e5e5e5 solid 1px}
.msgBoxContainer .msgText{font-weight:bold;line-height:40px;padding-left:12px}
.msgBoxContainer .closeBtn{cursor:pointer;display:inline-block;font-family:\5b8b\4f53;font-size:16px;font-weight:bold;line-height:16px;height:16px;overflow:hidden;position:absolute;right:15px;text-indent:0;top:12px;width:16px;color:#a9aea2}
.ok_icon{display:inline-block;float:left;background-image:url(sprite/common.png?max_age=19830212&d=20140314154327);background-position:-73px 0;width:26px;height:26px;margin-right:5px;_margin-top:20px;_margin_left:50px}
.err_icon{display:inline-block;float:left;background-image:url(sprite/common.png?max_age=19830212&d=20140314154327);background-position:-100px 0;width:23px;height:23px;margin-right:5px;_margin-top:20px;_margin_left:50px}
html,body{background:#FFF;margin:0;padding:0;font:14px Microsoft Yahei;min-width:1063px}
header,nav,section,article,footer{display:block}
a{cursor:pointer}
.header{height:74px}
.header nav{width:1003px;height:74px;margin:0 auto;position:relative;z-index:500}
.header nav .logo{display:block;float:left;width:198px;height:58px;margin-top:12px;background-image:url(common.jpg?max_age=19830212&d=20140314154327);background-position:0 0}
.header nav ul.navigator{height:33px;width:565px;margin:25px 0 0 0;line-height:35px;color:#4f4f4f;padding:0;float:right;_position:relative;_left:-100px}
.header nav ul.navigator a{color:#4f4f4f;font-size:16px;text-decoration:none}
.header nav ul.navigator li{list-style:none;float:left;width:72px;text-align:center;margin-left:10px}
.header nav ul.navigator li#nav_index{margin-left:0}
.header nav ul.navigator li.current{background-image:url(sprite/common.png?max_age=19830212&d=20140314154327);background-position:0 0;height:35px}
.header nav ul.navigator li.current a{color:#fff}
.header nav ul.userInfo{float:right;width:120px;margin:26px 0 0 0;padding:0;_position:absolute;_right:0;z-index:100}
.header nav ul.userInfo li{position:relative;display:block;height:35px;line-height:35px;word-break:break-all;padding-left:15px;text-align:center}
.header nav ul.userInfo li a{text-decoration:none;color:#4F4F4F;font-size:13px}
.userInfo li a#login{width:88px;height:35px;display:block;font-size:14px;overflow:hidden;text-overflow:ellipsis;word-wrap:normal;white-space:nowrap}
.userInfo li ul{width:89px;text-align:center;padding:0;margin-left:15px;position:absolute;top:30px;left:0;z-index:10;display:none;background:#FFF;border:1px solid #ccc}
ul#personal_list li{padding-left:0}
.userInfo li ul.opened{display:block}
.userInfo li a.subNav{position:absolute;top:18px;right:0;display:none;width:11px;height:5px;background:url(img/images/search.png?max_age=19830212&d=20140314154327) no-repeat 0 -48px;margin-left:5px}
#subNav_hover{position:absolute;top:12px;right:0;display:none;width:14px;height:14px;overflow:hidden;background-image:url(sprite/common.png?max_age=19830212&d=20140314154327);background-position:-142px 0}
footer{clear:both;height:110px;background:#dee1e4;overflow:hidden}
section.links{text-align:center;font-size:12px;color:#4f4f4f;margin-top:30px}
.links a{color:#4f4f4f;text-decoration:none;margin-right:18px}
section.copyright{color:#7d7d7d;font-size:12px;text-align:center;line-height:21px;margin:0;margin-top:9px}
.copyright a{color:#7d7d7d;text-decoration:none}
.mask{position:fixed;left:0;top:0;display:none;width:100%;height:100%;background-color:#000;opacity:.6;filter:alpha(opacity=60);z-index:998;_position:absolute}
section.dialog{position:absolute;z-index:200;top:50%;left:50%;background:#666;display:none}
.dialogContentWrapper h2{display:block;font-size:14px;font-weight:normal;background:#F1F1F1;margin:0;line-height:30px;padding-left:10px;cursor:move}
.dialogContentWrapper{margin:5px}
.loginFrame{margin:0;border:none}
.hiddenIframe{display:none}
#yellowTip{border:1px solid #EBDFA5;height:22px;line-height:22px;background:#FFF6CD;display:none}
#yellowTipText{width:1000px;margin:0 auto;text-align:center;font-size:12px}
#yellowTip a{color:#1A649D}
#yellowTip a#yellowTipClose{cursor:pointer;display:block;position:absolute;right:10px;top:3px;width:17px;height:17px;background-image:url(sprite/common.png?max_age=19830212&d=20140314154327);background-position:-124px 0}
#yellowTip a#yellowTipClose:hover{background-image:url(sprite/common.png?max_age=19830212&d=20140314154327);background-position:-124px -18px}
#CssGaga{content:"140314154327,hai,324"}/*  |xGv00|273784842997c55679ee13e389270f01 */